<h1 class="text-center text-4xl my-12">It's gonna be..... Wait for it !!! Coronadary 🦇</h1>

<p class="text-center text-blue-600">Invite your friends sharing this link : <%= room_url(@room.token) %></p>
